<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <b><%= t('landing.error') %></b>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, for: :email %>
    <div class="score_error">
      <%= t('lead.errors.email_score') %>
    </div>
    <%= form.text_field :email %>
  </div>

  <div class="prefs-title">
    <%= t('lead.preferences') %>
  </div>

  <div class="wrapper">
    <div class="checkbox-container">
      <%= form.check_box :womans_fashion, class: 'checkbox' %>
      <%= form.label :womans_fashion, class: 'checkmark' %>
    </div>

    <div class="checkbox-container">
      <%= form.check_box :mens_fashion %>
      <%= form.label :mens_fashion %>
    </div>

    <div class="checkbox-container">
      <%= form.check_box :children_fashion %>
      <%= form.label :children_fashion %>
    </div>

  </div>

  <div class="submit-wrapper">
    <%= form.submit t("lead.subscribe"), id: "subs" %>
  </div>
<% end %>
